   <kendo-tabstrip (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab title="My Contracts" [selected]="true">
          <ng-template kendoTabContent>
            <div class="content">
             
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="All Contracts">
          <ng-template kendoTabContent>
            <div class="content">
           
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Favourites">
          <ng-template kendoTabContent>
            <div class="content">
         
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        </kendo-tabstrip>